.signup-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
}
.ecomm-navbar {
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.nav-input-container
{
  margin-left: 21rem;
  padding: .7rem 9rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  display: block;
}
.action-buttons {
  margin-left: auto;
  display: flex;
  gap: 1.2rem;
  margin-right: 1rem;
  align-items: center;
}
.form-input-container {
  margin-left: 0rem;
  margin-right: 7rem;
  padding: 0.3rem 5rem;
  border-radius: 5px;
}
.logo-img-initial {
  background-image: url("./Images/CLogo.svg");
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  width: 3rem;
  height: 3rem;
  background-size: 3rem;
  background-color: transparent;
  overflow: hidden;
  margin-left: 1rem;
  margin-top: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: -500%;
  background-color: var(--main-background-color);
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: .75rem 1rem;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--drop-hover-color);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.login-page-bottom-container
{
display: flex;
align-items: center;
justify-content: center;
}
.login-container
{
  display: flex;
  flex-direction: column; 
  background-color: var(--component-container-color);
  width: 27rem;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  border-radius: 5px;
  align-items: center;
}
.login-form
{
  margin: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-input-container
{
  padding: .7rem 5rem;
  margin: 0rem 2rem 1rem 0rem;
  border-radius: 5px;
  display: block;
}
.login-container a{
  text-decoration: none;
}
.loginform-bottom-section
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginform-bottom-section:first-child
{
  justify-self: start;
}

.loginform-bottom-section > a
{
  color: black;
  padding-left: 2rem;
}
.loginform-bottom-section > input
{
  color: black;
  margin-left: -2rem;
}
.button-link
{
  color: black;
}
.btn-sign-up
{
    padding: .8rem 5rem;
    margin: 1rem 0rem 0rem -2rem;
}
.button-login-form
{
    display: block;
    padding: .6rem 9rem;
    white-space: nowrap;
    background-color: var(--primary-blue-color);
    color: var(--component-white-color);
    border-radius: 5px;
    margin: 0rem 2rem 1rem 0rem;
} 